services:
  dashboard-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: prod # <--- IMPORTANT: Targets Stage 4 (Nginx)
    container_name: dashboard-frontend-prod
    restart: always # Auto-restart if the Pi reboots
